@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}

/* aca se modifican las variables y se les da el color que quresmos para definir */
:root {
    /* color del fondo de texto*/
    --color_text-primary: #8b4513;
    /* color seguncario = texto */
    --color_text-secundary: #311f09e9;
    /* color de boton quote */
    --color_text-tertiary: #0e0d0de4;
    --main_color-primary: #8b4513;
    --main_color-secundary: #a86e2a;
    --background-color: #d2b48c;
    --background-color2:#e0bc8f67;
    --lowText_font_size: 16px;
    /* tamaño titulo */
    --text_size_title: 40px;
    --text_title_card: 24px;
    --text_title_cardv2: 20px;
    /* son para el tamaño de letra de parrafo */
    --text_paragraph: 16px;
    /* para el borde  */
    --box_shadow-primary: 0px 6px 50px -20px rgba(0, 0, 0, 0.2);
}

header {
    /* width al 100% es todo el header,height se acomoda en lo ancho pero es fijo */
    width: 100%;
    height: 100px;
    /* position :fixed = Fija el encabezado en la parte superior de la ventana del navegador, de modo que permanezca visible incluso al desplazarse por la página. */
    position: fixed;

    /* z-index=Establece la posición en el eje Z del encabezado */
    z-index: 100;
}

.container_header {
    max-width: 1200px;
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
    /* estp era transparene */
    background-color: var(--background-color);
    /* 2 = arriba y abajo -- izquierd y derecha */
    /* 4 = arriba,abajo,derecha e izquierda  */
    /* top= arriba botton = abajo */
}

.logo {
    display: flex;
    align-items: center;
    position: relative;
    z-index: 1;
}

.logo img {
    width: 100px;

}

.menu {
    display: flex;
    align-items: center;
}

.menu nav {
    margin: 0px 20px;
}

.menu nav ul {
    display: flex;
}

.menu nav ul li {
    list-style: none;
    margin: 20px 16px;
}

.menu nav ul li a {
    /* se coloco el nombre de la variable que se inicializo arriba */
    color: var(--color_text-secundary);
    font-size: var(--lowText_font_size);
    position: relative;
}

.menu nav ul li a:hover {
    color: var(--color_text-primary);
    /* Variable var (--color_text-primary); */
}

.btn_quote {
    /* display: block = es decir que el display ira en bloques */
    display: block;
    padding: 8px 40px;
    border: 2px solid var(--color_text-primary);
    /* Variable var (--color_text-primary); */
    border-radius: 8px;
    font-weight: 500;
    color: var(--color_text-tertiary);
    /* Variable var (--color_text-tertiary); */
    margin: 0px 20px;
    transition: all 300ms;
}

/* hover = cada vez que se pasa por el boton se coloca el color seleccionado */
.btn_quote:hover {
    color: white;
    background: var(--color_text-primary);
}

.menu .socialMedia {
    margin: 0px 10px;
}

.menu .socialMedia a {
    margin: 0px 4px;
}

/* agarra las imagenes de social media  */
.menu .socialMedia img {
    width: 20px;
}

/* end header */
/* portada inicio */

.container_cover {
    padding-top: 100px;
    padding-bottom: 100px;
    background: var(--background-color);
}

.cover {
    max-width: 1200px;
    margin: auto;
    /* separar contenedor abajo */
    margin-top: 100px;
    /* felixiblidad en el contenedor */
    display: flex;
    align-items: center;
    padding: 0px 20px;
}

.text_cover {
    width: 100%;
    padding-right: 150px;
}

/* texto del titulo */
.text_cover h1 {
    font-size: 50px;
    color: var(--color_text-secundary);
}

/* texto del parrafo */
.text_cover p {
    font-size: var(--text_paragraph);
    /* separar el encabezado con el parrafo */
    margin-top: 40px;
    color: var(--color_text-tertiary);
}

.btn_text {
    /* el boton que se mueva se bloque, que todas sus propiedades se muevan en conjunto*/
    display: block;
    width: 150px;
    margin-top: 40px;
    /* separa adentro texto de lo que lo contiene */
    padding: 10px 20px;
    text-align: center;
    /* grosor de la fuente 500 */
    font-weight: 500;
    background: var(--main_color-primary);
    /* color del texto */
    color: white;
    border-radius: 8px;
    border: 2px solid transparent;
    /* cuando doy click en la propiedad sale la mano  */
    cursor: pointer;
    transition: all 300ms;
}

/* para cuando paso por el boton se vuelve transparente  */
.btn_text:hover {
    background: transparent;
    border: 2px solid var(--main_color-primary);
    color: var(--color_text-tertiary);
}

.image_cover {
    width: 100%;
}

.image_cover img {
    width: 550px;
}

/* end portada de inicio */

/*Estilos Generales Cards*/

.container_card-primary {
    padding-top: 100px;
}

/* centro los iconos  */
.card_primary {
    max-width: 1200px;
    margin: auto;
    text-align: center;
    padding: 0px 20px;
}

.text_card-primary {
    max-width: 800px;
    margin: auto;
}

/* cambio el color del titulo "genera confianza primero" */
.text_card-primary p {
    color: var(--color_text-primary);
    letter-spacing: 4px;
    font-size: var(--text_paragraph);
    font-weight: 500;
}

.text_card-primary h1 {
    font-size: var(--text_size_title);
    /* grosor de la letra */
    font-weight: 600;
    color: var(--color_text-secundary);
}

/* <!-- GENERADOR DE CONFIANZA --> */

.container_box-cardPrimary {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 40px;
}

/* hace la caja de texto numero 1 */
.box_card-primary {
    max-width: 350px;
    padding: 60px 40px;
    border: 1px solid #e6e6e6;
    border-radius: 20px;
    margin: 14px;
    transition: all 300ms;
}

/* hace que cuando el puntero apunta a la caja de texto esta se mueva y se ilumnie */
.box_card-primary:hover {
    border: 1px solid transparent;
    box-shadow: var(--box_shadow-primary);
}

/* dio tamaño image */
.box_card-primary img {
    width: 100px;
}

.box_card-primary h2 {
    font-size: var(--text_title_card);
    margin-top: 40px;
    font-weight: 500;
}

.box_card-primary p {
    margin-top: 20px;

}

/* saber mas */

.image_saber img {
    border-radius: 20px;
}

.imagen1 img {
    width: 500px;
    height: 200px;
    margin-right: 40px;

}

.imagen2 img {
    width: 500px;
    height: 200px;
    margin-left: 500px;
    padding-bottom: 300px;
}

/* contenedor doble imagen */

.container_cover_2 {
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: var(--background-color2);
}

.cover_2 {
    max-width: 1200px;
    margin: auto;
    margin-top: 100px;
    display: flex;
    align-items: center;
    padding: 0px 20px;
}

.text_cover_2 {
    width: 100%;
    padding-right: 150px;
}

.text_cover_2 h1 {
    font-size: 50px;
    color: var(--color_text-secundary);
}

.text_cover_2 p {
    font-size: var(--text_paragraph);
    margin-top: 40px;
    color: var(--color_text-tertiary);
}

.image_cover {
    width: 100%;
}

.image_cover_1 img {
    width: 300px;
    border-radius: 20px;
}

.image_cover_2 img {
    width: 340px;
    border-radius: 20px;
    margin-left: 10px;
}

/* fin contenedor doble */
/* icono de servicios */
.my-arrow {
    font-size: 24px;
    color: #43aa13d7;
    padding-top: 30px;
}


/* <!-- contenedor proyectos --> */
.card__primary_3{
    background-color: var(--background-color-2);
}

.text__card-primary_3 {
    max-width: 800px;
    padding-top: 100px;
    margin: auto;
}

.text__card-primary_3 p {
    color: var(--color_text-primary);
    letter-spacing: 4px;
    font-size: var(--text_paragraph);
    font-weight: 500;
    text-align: center;
}

.text__card-primary_3 h1 {
    font-size: var(--text_size_title);
    font-weight: 600;
    color: var(--background-color);
    text-align: center;
}

.container__box-cardPrimary_3 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 40px;
}

.box__card-primary_3 {
    max-width: 350px;
    padding: 60px 40px;
    border: 1px solid #e6e6e6;
    border-radius: 20px;
    margin: 14px;
    transition: all 300ms;
}

.box__card-primary_3:hover {
    border: 20px solid transparent;
    box-shadow: var(--box_shadow-primary);
}

.box__card-primary_3 h2 {
    font-size: var(--text_title_card);
    margin-top: 5px;
    font-weight: 500;
    color: var(--color_text-secundary);
}

.box__card-primary_3 p {
    color: var(--color_text-secundary);
    margin-top: 20px;
}

.box__card-primary_3 {
    background-image: url(https://www.mirringo.com.co/Portals/mirringo/EasyDNNNews/1895/850526p2425EDNthumbimg-banner-interna-cirugia1.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 15px;
    padding: 60px 40px;
    border: 1px solid #000000;
    margin: 14px;
    transition: all 300ms;
    height: 500px;
    width: 400px;
}

.box__card-primary_4 {
    max-width: 350px;
    padding: 60px 40px;
    border: 1px solid #e6e6e6;
    border-radius: 20px;
    margin: 14px;
    transition: all 300ms;
}

.box__card-primary_4:hover {
    border: 20px solid transparent;
    box-shadow: var(--box_shadow-primary);
}

.box__card-primary_4 h2 {
    font-size: var(--text_title_card);
    margin-top: 5px;
    font-weight: 500;
    color: var(--color_text-secundary);
}

.box__card-primary_4 p {
    color: var(--color_text-secundary);
    margin-top: 20px;
}

.box__card-primary_4 {
    background-image: url(https://www.mirringo.com.co/Portals/mirringo/articulos-mirringo-panama/conoce-las-ventajas-y-desventajas-de-la-esterilizacion-de-tu-gato/15Oct-Banner-Interna-P-compressed.jpg?ver=2023-02-18-111024-033);
    background-size: cover;
    background-position: center;
    border-radius: 15px;
    padding: 60px 40px;
    border: 1px solid #000000;
    margin: 14px;
    transition: all 300ms;
    height: 500px;
    width: 400px;
}

.box__card-primary_5 {
    max-width: 350px;
    padding: 60px 40px;
    border: 1px solid #e6e6e6;
    border-radius: 20px;
    margin: 14px;
    transition: all 300ms;
}

.box__card-primary_5:hover {
    border: 20px solid transparent;
    box-shadow: var(--box_shadow-primary);
}

.box__card-primary_5 h2 {
    font-size: var(--text_title_card);
    margin-top: 5px;
    font-weight: 500;
    color: var(--color_text-secundary);
}

.box__card-primary_5 p {
    color: var(--color_text-secundary);
    margin-top: 20px;
}

.box__card-primary_5 {
    background-image: url(https://images.hola.com/imagenes/seleccion/20220323206738/mejores-dispensadores-comida-gato/1-220-329/dispensador-gatos-t.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 15px;
    padding: 60px 40px;
    border: 1px solid #000000;
    margin: 14px;
    transition: all 300ms;
    height: 500px;
    width: 400px;
}

/* fin contenedor proyectos */

/* sobre nosotros */

.sobre_nosotros {
    width: 100%;
    padding-bottom: 900px;
    background-color: white;
}
.integrante{
    width: 100%;
    background-color: rgb(217, 217, 217);
}

.titulo h1 {

    color: black;
    letter-spacing: 4px;
    margin-top: 60px;
    margin-top: 30px;
    font-weight: 500;
    text-align: center;

}

.integrante {
    margin: 10px 20px;
    box-shadow: 0 4px 8px 0 lightblue, 0 6px 20px rgba(0, 0, 0, 19);
    float: left;
    width: 350px;
    margin-left: 60px;
    margin-top: 50px;
    border-radius: 40px;
}

.integrante img {
    width: 100%;
    height: auto;
    border-radius: 40px 40px 0 0;
}

.integrante:hover {
    border: 4px solid var(--color_text-primary);
    transform: rotate(-3deg);
}

.texto {
    text-align: center;
    text-shadow:  var(--color_text-tertiary);
    padding: 10%;
}

/* fin sobre nosotros */

/* inicio mapa */
.container-fluid {
    width: 100%;
    padding: 20px;
    justify-content: center;
    background-color: var(--background-color-2);
}

.container-fluid p {
    padding-top: 80px;
    text-align: center;
    color: var(--color_text-primary);
    letter-spacing: 4px;
    font-size: var(--text_paragraph);
    font-weight: 500;
}

.container-fluid h1 {
    text-align: center;
    font-size: var(--text_size_title);
    font-weight: 600;
    color: var(--background-color);
    padding-bottom: 40px;
}

.contact-form {
    width: 100%;
    max-width: 600px;
    margin-bottom: 40px;
}

.row {
    display: flex;
    margin-bottom: 20px;
}

.col-6 {
    flex: 0 0 50%;
    max-width: 50%;
}

.form-group {
    margin-bottom: 15px;
    margin-left: 10px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input,
.form-group textarea {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
    box-sizing: border-box;
}

.form-group .btn{
    display: block;
    width: 100%;
    padding: 8px 0;
    border: 2px solid var(--main_color-primary);
    border-radius: 8px;
    font-weight: 500;
    color: var(--background-color);
    transition: all 300ms;
    text-align: center;
} 

.form-group a:hover {
    background-color: var(--main_color-primary);
    color: var(--color_text-tertiary);
}

.map {
    width: 100%;
    height: 400px;
    max-width: 600px;
    padding-bottom: 40px;
}

.form-and-map-container {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

@media (max-width: 768px) {
    .form-and-map-container {
        flex-direction: column;
        align-items: center;
    }

    .contact-form,
    .map {
        max-width: 100%;
    }
}
/* fin mapa  */

/* <!-- inicio pie de pagina --> */
.pie-de-pagina {
    width: 100%;
    background-color: var(--background-color);
}

.pie-de-pagina .grupo-1 {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    padding: 45px 0px;
}

.pie-de-pagina .grupo-1 .box_Logo figure {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pie-de-pagina .grupo-1 .box_Logo figure img {
    width: 250px;
}

.pie-de-pagina .grupo-1 .box h2 {
    color: var(--color_text-tertiary);
    margin-bottom: 25px;
    font-size: 20px;
}

.pie-de-pagina .grupo-1 .box p {
    color: var(--color_text-tertiary);
    margin-bottom: 10px;
}

.pie-de-pagina .grupo-1 .box img {
    height: 30px;
    margin-right: 10px;
}

.pie-de-pagina .grupo-2 {
    background-color: var(--background-color);
    padding: 15px 10px;
    text-align: center;
    color: var(--color_text-tertiary);
}

.pie-de-pagina .grupo-2 small {
    font-size: 15px;
}

/* fin pie de pagina */